<nav
    class="relative flex flex-wrap items-center content-between py-3 px-4 navbar-default"
>
    <div class="container mx-auto sm:px-4 max-w-full">
        <div class="navbar-header">
            <a
                href="#"
                class="inline-block pt-1 pb-1 mr-4 text-lg whitespace-no-wrap"
                >Recipe book
            </a>
        </div>
        <div class=" flex-grow items-center">
            <ul class="flex flex-wrap list-none pl-0 mb-0 list-reset">
                <li><a href="#">Recipe</a></li>
                <li><a href="#">shopping list</a></li>
            </ul>
            <ul
                class="flex flex-wrap list-none pl-0 mb-0 list-reset navbar-right"
            >
                <li class="relative">
                    <a
                        href="#"
                        class="inline-block w-0 h-0 ml-1 align border-b-0 border-t-1 border-r-1 border-l-1"
                        role="button"
                    >
                        manage <span class="caret"></span
                    ></a>
                    <ul
                        class="absolute left-0 z-50 float-left hidden list-reset py-2 mt-1 text-base bg-white border border-gray-300 rounded"
                    >
                        <li>
                            <a
                                href="
							#"
                                >saving</a
                            >
                        </li>
                        <li>
                            <a
                                href="
							#"
                                >fetching data</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
