<div class="flex flex-wrap">
    <div class="md:w-2/5 pr-4 pl-4"><app-recipe-list></app-recipe-list></div>
    <div class="md:w-3/5 pr-4 pl-4">
        <app-recipe-detail></app-recipe-detail>
    </div>
    <app-recipe-item *ngFor="let item of recipeItems" [recipeItemAlias]="item">
    </app-recipe-item>
</div>
<a
    [routerLink]="['/recipes', 1, 'with params and frag']"
    [queryParams]="{ allowEdit: 1 }"
    [fragment]="'loading'"
    class="bg-red-200 p-2 m-2"
    >link to recipe-alt with params and fragment
</a>
<a
    [routerLink]="['/recipes', 1, 'with params and frag']"
    (click)="onNavigateRecipeAlt(1, 'redirect with function')"
    class="bg-green-200 p-2 m-2"
    >change params and frag and navigate with function</a
>
