<!-- <div app-server></div>  with selector [app-server]-->
<!-- <div class="app-server"></div> with selector .app-server -->
<!-- with selector app-server --><app-server
></app-server>
<div
  class="flex flex-col justify-center items-center border-slate-500 border-t-2 py-5"
>
  <button mat-raised-button color="primary" [disabled]="!allowNewServer">
    server property binding
    <p [innerHTML]="allowNewServer"></p>
  </button>
</div>
<div
  class="flex flex-col justify-center items-center border-slate-500 border-t-2 py-5"
>
  <button mat-icon-button (click)="onCreateServer()">
    server event binding
  </button>
  <p>{{ serverCreationStatus }}</p>
</div>

<div
  class="flex flex-col justify-center items-center border-slate-500 border-t-2 py-5"
>
  <input type="text" class="border-2" (input)="onUpdatedServer($event)" />
  <p class="font-semibold">data passed in the input field:</p>
  <span>{{ serverName }}</span>
</div>
<app-todo></app-todo>
